<div class="login-form">
    <h2>Login</h2>
    <form (submit)="login()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="email" class="form-control" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="password" class="form-control" id="password" name="password" required />
      </div>
      <div class="form-group">
        <label for="rememberMe">Remember Me</label>
        <input type="checkbox" [(ngModel)]="rememberMe"  id="rememberMe"  name="rememberMe"/>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <p class="text-danger">{{errorMessage }}</p>
    </form>
  </div>
  